#root {
    -fx-background-image: url("/img/loginBack.jpg");
    -fx-background-size: cover;
}

#login {
    -fx-background-color: rgba(27, 215, 165, 0.82);
}

#change {
    -fx-background-color: rgba(27, 215, 165, 0.82);
}